### Large files (datasets, LLMs)
data/
models/
vocab/sp_models/
vocab/fasttext/
vocab/dict/
vocab/embeddings/

### Python and Transformers (Cache/Libraries)
env/
venv/
__pycache__/
.cache/

### Config files
finetune/wandb_config.sh

### Results and testing files
evaluation/results/*
*.ipynb
